
body {
  background:white;
  font: 100%/1.5 "Trebuchet MS", arial, sans-serif; 
  margin:0; 
  padding-top:0%;
}
/* Top navigation/links*/
/*--------------------*/
.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: black;
  padding-left: 50px;
}
nav ul{
  display:flex;
}
nav ul li a{
  margin: 30px;
  font-family: myriad pro regular;
  color: #505050;
  font-size:15px;
  font-weight: 700;
}
ul {
  list-style: none;
}
a{
  text-decoration: none;
}
.topnav {
  background-color: rgb(214, 210, 210);

  /* overflow: hidden;
  position: fixed;/*remain top navigation when scrolling
  top: 0;
  width: 100%;
  padding: 20px 0px 20px 0px; */

  overflow: hidden;
    padding: 10px 0px;
    width:100%;
    transition: 0.4s;
    position: fixed;
    top: 0;
    z-index: 99;
  }
.topnav a {
  text-decoration: none;
}


.businame {
  padding-top: 0px;
}

.businame h1 img{
  height: 60px;
  width: 60px;
}

.businame h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: black;
  padding-left: 50px;
}

.navlink {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-decoration: none;
  float: right;
  height: 20px;
  padding: 10px 10px 10px 10px;
}

.navlink #menu{
  color:black;
  padding: 10px;
}

.navlink #icon1 img{
  height: 30px;
  width: 30px;
}
.navlink #icon2 img{
  height: 30px;
  width: 30px;
}
.navlink #icon3 img{
  height: 30px;
  width: 30px;
}

.navlink #icon4 img{
  height: 30px;
  width: 30px;
}

/* Menu navigation */
/*--------------------*/


/* Content*/
/*--------------------*/
#wrap {
  background-color: white; 
  width: 95%;
  margin: 0 auto;
  overflow: auto;
  min-width: 800px;
}
main {
  padding-top: 150px;
}

.gallery {
  position: relative;
  text-align: center;
  color: white;
}

.gallery img
{
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.gallery .main_text {
  width: 100%;
  font-family: 'Abril Fatface', sans-serif;
  font-size: 70px;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
}

.gallery .sub_text {
  width: 100%;
  font-size: 50px;
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.services {
  position: relative;
  text-align: center;
  background-color:black;
}
.services ul {
  list-style:none;
}

.services ul li {
  text-decoration: none;
  display: inline;
    padding-right: 10px;
}

.services ul li img {
  height: 200px;
  width: 200px;
  padding: 100px 0px 100px 0px;
}

main {
  position: relative;
  text-align: center;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}
main h3 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: black;
}
main p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
}

.instagram {
  position: relative;
  text-align: center;
  background-color:white;
  padding: 100px 0px 100px 0px;
}
.instagram ul {
  list-style:none;
}

.instagram ul li {
  text-decoration: none;
  display: inline;
    padding-right: 1px;
}

.instagram ul li img {
  height: 130px;
  width: 130px;
}

footer{
  background-color: #212121;
  height: 60px;
  bottom: 0px;
  left: 0px;
  line-height: 50px;
  color: #aaa;
  text-align: center;
  width: 100%;
  padding: 100px 0px 150px 0px;
}
@media only screen and (max-width: 800px) {
  #wrap {
    min-width:400px;
  }
  .gallery img{
    width:100%;
  }
}